.container{
    width: 400px;
    background-color: #fff;
    margin: auto;
    padding: 2rem;
    border-radius: 0.5rem;
    color:black;
    display: flex;
    flex-direction: column;
    user-select: none;
    border: 1px solid #000;

    #name{
        margin: 1rem 0;
        line-height: 2rem;
        padding: 1rem;
        width: 80%;
        border-radius: 0.5rem;
    }

    label{
        text-align: left;
    }
}

.inputContainer{
    display: block;
    .next{
        margin: 1rem 0.5rem;
        line-height: 2rem;
        padding: 1rem;
        background-color: var(--third-color);
        border-radius: 0.5rem;
        cursor: pointer;
    }
}